.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  background-color: #ececec;
  border-bottom: 1px solid #c9c9c9;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 73px;
  height: 83px;
}

.nav {
  display: flex;
}

.nav-item {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

.main {
  padding-top: 50px;
}

.row {
  display: flex;
}

.title {
  display: block;
  font-size: 3em;
}

.cube {
  width: 50%;
}

.cube__img {
  width: 570px;
}

.button {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  border: 1px solid #c9c9c9;
  padding: 20px 30px;
  color: #333;
}

.footer {
  height: 124px;
  padding: 20px 0;
  background-color: #ececec;
  border-top: 1px solid #c9c9c9;
}
